      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body {
        margin: 0;
      }

      body div,
      footer {
        padding: 1rem;
      }

      footer {
        padding: 1rem;
        background-color: black;
        color: white;
      }

      .myHeading {
        color: #ff00d6;
      }
    